# Google OAuth 2.0 Web Application Client ID
# Get this from Google Cloud Console > APIs & Services > Credentials
# See: https://console.cloud.google.com
# Make sure to add your app's origins to "Authorized JavaScript origins"
REACT_APP_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
